<!--<app-title-nav-->
<!--  [merchantModel]="merchantModel"-->
<!--  [collaboratorModel]="collaboratorModel"-->
<!--  [endUserModel]="endUserModel"-->
<!--  logo="./assets/img/upoint-logo.png"-->
<!--  [backRoute]="hideIcon"-->
<!--  [applyWhenBack]="true"-->
<!--  (applyChange)="eBackApp()"-->
<!--&gt;-->
<!--</app-title-nav>-->

<app-header-home
        [merchantModel]="merchantModel"
        [collaboratorModel]="collaboratorModel"
        [endUserModel]="endUserModel"
        [backRoute]="null"
        [applyWhenBack]="true"
        (applyChange)="eBackApp()"
>
</app-header-home>

<!--<div class="container" [style]="(collaboratorModel || endUserModel) ? 'margin-top: 30px' : 'margin-top: 100px'">-->
<!--  <div class="feature-list">-->
<!--    <div *ngFor="let rowData of user.data.lstFunction" [class.hideIcon]="rowData.key === 'FUNCTION.MORE' && hideIcon === 'true'"-->
<!--        class="feature" (click)="handleRedirect(rowData.url)">-->
<!--      <img [src]="rowData.strIcon">-->
<!--      <div class="text">{{rowData.key | translate}}</div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="container list-func" [style]="merchantModel ? 'margin-top: 120px' : 'margin-top: 90px'" *ngIf="!endUserModel">
  <div class="func-list">
    <div *ngFor="let rowData of user.data.lstFunction"
         [class.hideIcon]="rowData.key === 'FUNCTION.MORE' && hideIcon === 'true'"
         class="func" (click)="handleMerchantFunction(rowData.key, rowData.url)">
      <img [src]="rowData.icon">
      <div class="text">{{rowData.key | translate}}</div>
    </div>
  </div>
</div>
<div *ngIf="isAssistant" class="assistant-label">{{'COLLABORATOR.LABEL.ASSISTANT_LABEL_HOME' | translate}}</div>

<div class="container list-func" *ngIf="endUserModel">
  <div class="search-arena ma-b-15">
    <div class="input-search">
      <input type="text" [(ngModel)]="inputSearch" (keyup)="eSearch()"
             [placeholder]="'&#xF002;&nbsp;&nbsp;'+('VOUCHER.PLACEHOLDER.PLACEHOLDER_SEARCH' | translate)"
             style="font-family:Arial, FontAwesome"/>
    </div>
    <div class="near-me" (click)="eClickMap()">
      <div class="icon">
        <img src="assets/img/icon/location.png" alt="location">
      </div>
      <div class="icon-label">
        {{ 'VOUCHER.LABEL.NEAR_BY' | translate}}
      </div>
    </div>
  </div>
  <!--  <label class="label-home-eu ma-b-15">{{ 'VOUCHER.TITLE.GIFT_UNITEL' | translate }}</label>-->
  <!--  <div class="func-list">-->
  <!--    <div *ngFor="let rowData of lstSpecialGiftShow | async; let i = index" class="func" (click)="handleRedirectUnitel(rowData)">-->
  <!--      <img [src]="rowData && rowData.logo ? rowData.logo : 'assets/img/icon/homephone_service.png'" alt="unitel">-->
  <!--      <div class="text">{{rowData && rowData.name ? rowData.name : ''}}</div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="no-data text-center" *ngIf="lstSpecialGiftShow.value.length < 1">{{ 'END_USER.TITLE.NO_DATA' | translate }}</div>-->
  <div class="line-br"></div>
  <div class="label-group ma-b-15 ma-t-18">
    <div class="label-home-eu">{{ 'END_USER.CATEGORY.TITLE' | translate }}</div>
    <div class="label-home-eu color-orange-primary" (click)="showAllCategories()">{{ 'END_USER.ACTION.VIEW_ALL' | translate }}</div>
  </div>
  <div class="func-list-overflow">
    <div *ngFor="let rowData of lstCategoryShow | async; let i = index" class="func" (click)="handleClickCategory(rowData)">
      <img [src]="rowData && rowData.logo ? rowData.logo : 'assets/img/icon/homephone_service.png'" alt="unitel">
      <div class="text">{{rowData && rowData.categoryName ? (rowData.categoryName | truncate : 21) : ''}}</div>
    </div>
  </div>
  <div class="no-data text-center" *ngIf="lstCategoryShow.value.length < 1">{{ 'END_USER.TITLE.NO_DATA' | translate }}</div>
  <div class="line-br"></div>
  <div class="label-group ma-b-15 ma-t-18">
    <div class="label-home-eu">{{ 'END_USER.TOP_BRAND.TITLE' | translate }}</div>
    <div class="label-home-eu color-orange-primary" (click)="showAllBrands()">{{ 'END_USER.ACTION.VIEW_ALL' | translate }}</div>
  </div>
  <div class="func-list-overflow">
    <div *ngFor="let rowData of lstTopBrandShow | async; let i = index" class="func" (click)="handleClickTopBrand(rowData)">
      <img [src]="rowData && rowData.brandLogo ? rowData.brandLogo : 'assets/img/icon/homephone_service.png'" alt="unitel">
      <!--      <ngx-avatar [src]="endUserModel.avatarStr ? endUserModel.avatarStr : './assets/img/sign-up/ava_default.png'" size="52" [round]="true"></ngx-avatar>-->
      <div class="text">
        {{rowData && rowData.brandName ? rowData.brandName : (rowData.merchantIsdn ? rowData.merchantIsdn : '')}}
      </div>
    </div>
  </div>
  <div class="no-data text-center" *ngIf="lstTopBrandShow.value.length < 1">{{ 'END_USER.TITLE.NO_DATA' | translate }}</div>
  <div class="line-br"></div>
  <label class="label-home-eu ma-b-20 ma-t-18">{{ 'END_USER.TITLE.WHAT_HOT' | translate }}</label>
  <div class="list-filter" id="box-voucher">
    <!--    <div class="list-style filter-style">-->
    <!--      <div class="label-filter">{{ 'END_USER.TITLE.FILTER' | translate }}</div>-->
    <!--      <div class="img-filter">-->
    <!--        <img src="assets/img/icon/filter.png" alt="filter">-->
    <!--      </div>-->
    <!--    </div>-->
    <div class="list-style" style="margin-left: 10px;" (click)="eClickFilter(listFilter.BEST_SELLERS)"
         [class.style-active]="activeFilter && activeFilter === listFilter.BEST_SELLERS">
      {{ 'END_USER.TITLE.BEST_SELLERS' | translate }}</div>
    <div class="list-style" style="margin-left: 10px;" (click)="eClickFilter(listFilter.ONLINE)"
         [class.style-active]="activeFilter && activeFilter === listFilter.ONLINE">
      {{ 'END_USER.TITLE.ONLINE' | translate }}</div>
    <div class="list-style" style="margin-left: 10px;" (click)="eClickFilter(listFilter.NEAR_BY)"
         [class.style-active]="activeFilter && activeFilter === listFilter.NEAR_BY">
      {{ 'END_USER.TITLE.NEAR_BY' | translate }}</div>
    <div class="list-style" style="margin-left: 10px;" (click)="eClickFilter(listFilter.BEST_DISCOUNT)"
         [class.style-active]="activeFilter && activeFilter === listFilter.BEST_DISCOUNT">
      {{ 'END_USER.TITLE.BEST_DISCOUNT' | translate }}</div>
    <div class="list-style" style="margin-left: 10px;" (click)="eClickFilter(listFilter.BEST_RATED)"
         [class.style-active]="activeFilter && activeFilter === listFilter.BEST_RATED">
      {{ 'END_USER.TITLE.BEST_RATED' | translate }}</div>
    <div class="list-style" style="margin-left: 10px;" (click)="eClickFilter(listFilter.NEWEST)"
         [class.style-active]="activeFilter && activeFilter === listFilter.NEWEST">
      {{ 'END_USER.TITLE.NEWEST' | translate }}</div>
    <div class="list-style" style="margin-left: 10px;" (click)="eClickFilter(listFilter.PRICE)"
         [class.style-active]="activeFilter && activeFilter === listFilter.PRICE">
      {{ 'END_USER.TITLE.PRICE' | translate }}</div>

  </div>
  <div *ngFor="let rowData of lstDealShow | async ; let i = index" style="margin-top: 10px" (click)="handleClickDeal(rowData)">
    <app-merchant-voucher-card
            [avatarUrl]="rowData.avatar ? rowData.avatar : './assets/img/sample/voucher-ticket.png'"
            [name]="rowData.name"
            [price]="rowData.upointExchangeAmount"
            [usageAmount]="rowData.usageAmount"
            [description]="rowData.description"
            [cardType]="2"
            [index]="i"
            [filterInfoEnabled]="true"
            [avgRating]="rowData.avgRating"
            [distance]="rowData.distance"
            [discount]="rowData.discountRate"
            [totalBought]="rowData.totalBought"
            [activeFilter]="activeFilter"
    ></app-merchant-voucher-card>
  </div>
  <div class="more-review text-center" (click)="eClickMoreVoucher()"
       *ngIf="lstDealShow.value && lstDealShow.value.length > 0">
    {{'COMMON.LABEL.MORE_VIEW' | translate}}
  </div>
  <div class="no-data text-center" *ngIf="lstDealShow.value.length < 1">{{ 'END_USER.TITLE.NO_DATA' | translate }}</div>
</div>
