<app-title-nav
  [title]="'IDEA_MANAGEMENT.TITLE.IDEA_DETAILS' | translate"
  [backRoute]="backRoute"
  [createRouteEdit]="canEdit ? 'edit' : null"
  (create)="goToEdit()"
>
</app-title-nav>
<div class="nation-brand">
  <div class="nation">
    <div class="nation-text align-self-stretch">
      {{ "IDEA_MANAGEMENT.LABEL.TEXT_HEADER" | translate }}
    </div>
    <div class="nation-text">
      {{ "IDEA_MANAGEMENT.LABEL.SUB_TEXT_HEADER" | translate }}
    </div>
  </div>
  <div class="line" style="width: 40%"></div>
  <div class="form">
    <div class="form-name">
      {{ "IDEA_MANAGEMENT.LABEL.TEXT_FORM_HEADER" | translate }}
    </div>
    <div class="form-for">
      {{ "IDEA_MANAGEMENT.LABEL.SUB_TEXT_FORM_HEADER" | translate }}
    </div>
  </div>
</div>
<div class="line"></div>
<div class="info-panel">
  <div class="info-text">
    <span
      >{{'IDEA_MANAGEMENT.LABEL.IDEA_NAME' | translate}}:
      <b>{{ ideaDetail?.ideaName }}</b>
    </span>
  </div>
  <div class="info-text">
    <span
      >{{ "IDEA_MANAGEMENT.LABEL.APPLY_TIME" | translate }}:
      <b>{{ ideaDetail?.applyStartTime }} - {{ ideaDetail?.applyEndTime }}</b>
    </span>
  </div>
  <div class="info-text">
    <span
      >{{ "IDEA_MANAGEMENT.LABEL.UNIT_APPLY" | translate }}:
      <b>{{ ideaDetail?.unitNames }}</b>
    </span>
  </div>
  <div class="info-text">
    <span
      >{{ "IDEA_MANAGEMENT.LABEL.SPECIALTY" | translate }}:
      <b>{{ ideaDetail?.specialtyName }}</b>
    </span>
  </div>
  <div class="info-text">
    <span>{{ "IDEA_MANAGEMENT.LABEL.STATUS" | translate }}:</span>
    <div class="info-status">
      <app-status-color *ngIf="ideaDetail" [status]="ideaDetail.approveStatus"></app-status-color>
    </div>
  </div>
</div>
<div class="table-box">
  <span>{{ "IDEA-DETAIL.AUTHOR_WITHIN" | translate }}</span>
  <table
    mat-table
    [dataSource]="dataSource"
    multiTemplateDataRows
    class="mat-elevation-z8 table-bordered"
  >
    <ng-container matColumnDef="expand">
      <th
        mat-header-cell
        *matHeaderCellDef
        aria-label="row actions"
        style="width: 10%"
      ></th>
      <td mat-cell *matCellDef="let element" style="text-align: center">
        <i
          *ngIf="expandedElement !== element"
          class="fa fa-chevron-right"
          (click)="
            expandedElement = expandedElement === element ? null : element;
            $event.stopPropagation()
          "
        ></i>
        <i
          *ngIf="expandedElement === element"
          class="fa fa-chevron-down"
          (click)="
            expandedElement = expandedElement === element ? null : element;
            $event.stopPropagation()
          "
        ></i>
      </td>
    </ng-container>
    <ng-container matColumnDef="user">
      <th
        mat-header-cell
        *matHeaderCellDef
        aria-label="row actions"
        style="width: 10%"
      ></th>
      <td mat-cell *matCellDef="let element" style="text-align: center">
        <i class="fa fa-user"></i>
      </td>
    </ng-container>
    <ng-container
      matColumnDef="{{ column }}"
      *ngFor="let column of columnsToDisplay"
    >
      <th mat-header-cell *matHeaderCellDef class="th-text">
        {{ column | translate }}
      </th>
      <td mat-cell *matCellDef="let element" style="text-align: center">
        {{ element[column] }}
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="columnsToDisplayWithExpand.length"
      >
        <div
        style="flex-direction: column;"
          class="example-element-detail"
          [@detailExpand]="
            element == expandedElement ? 'expanded' : 'collapsed'
          "
        >
          <div class="example-element-description">
            <b>{{'IDEA_MANAGEMENT.LABEL.TELEPHONE' | translate}}:</b> {{ element.phoneNumber }}<br>
            <b>{{'IDEA_MANAGEMENT.LABEL.EMAIL' | translate}}:</b> {{ element.email }}<br>
            <b>{{'IDEA_MANAGEMENT.LABEL.DATE_OF_BIRTH' | translate}}:</b> {{ element.birthDay }}<br>
            <b>{{'IDEA_MANAGEMENT.LABEL.WORK_PLACE' | translate}}:</b> {{ element.jobAddress }}<br>
            <b>{{'IDEA_MANAGEMENT.LABEL.OFFICE' | translate}}:</b> {{ element.jobPosition }}<br>
            <b>{{'IDEA_MANAGEMENT.LABEL.QUALIFICATION' | translate}}:</b> {{ element.professionalQualification }}<br>
          </div>
        </div>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="columnsToDisplayWithExpand"
      style="background-color: rgba(9, 107, 222, 0.5)"
    ></tr>

    <tr
      mat-row
      *matRowDef="let row; columns: columnsToDisplayWithExpand"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="example-detail-row"
    ></tr>
  </table>
  <span>{{ "IDEA-DETAIL.AUTHOR_OUTSIDE" | translate }}</span>
  <table
    mat-table
    [dataSource]="dataSource2"
    multiTemplateDataRows
    class="mat-elevation-z8 table-bordered"
  >
    <ng-container matColumnDef="expand">
      <th
        mat-header-cell
        *matHeaderCellDef
        aria-label="row actions"
        style="width: 10%"
      ></th>
      <td mat-cell *matCellDef="let element" style="text-align: center">
        <i
          *ngIf="expandedElement !== element"
          class="fa fa-chevron-right"
          (click)="
            expandedElement = expandedElement === element ? null : element;
            $event.stopPropagation()
          "
        ></i>
        <i
          *ngIf="expandedElement === element"
          class="fa fa-chevron-down"
          (click)="
            expandedElement = expandedElement === element ? null : element;
            $event.stopPropagation()
          "
        ></i>
      </td>
    </ng-container>
    <ng-container matColumnDef="user">
      <th
        mat-header-cell
        *matHeaderCellDef
        aria-label="row actions"
        style="width: 10%"
      ></th>
      <td mat-cell *matCellDef="let element" style="text-align: center">
        <i class="fa fa-user"></i>
      </td>
    </ng-container>
    <ng-container
      matColumnDef="{{ column }}"
      *ngFor="let column of columnsToDisplay2"
    >
      <th mat-header-cell *matHeaderCellDef class="th-text">
        {{ column | translate }}
      </th>
      <td mat-cell *matCellDef="let element" style="text-align: center">
        {{ element[column] }}
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="columnsToDisplayWithExpand2.length"
      >
      <div
      style="flex-direction: column;"
        class="example-element-detail"
        [@detailExpand]="
          element == expandedElement ? 'expanded' : 'collapsed'
        "
      >
        <div class="example-element-description">
          <b>{{'IDEA_MANAGEMENT.LABEL.TELEPHONE' | translate}}:</b> {{ element.phoneNumber }}<br>
          <b>{{'IDEA_MANAGEMENT.LABEL.EMAIL' | translate}}:</b> {{ element.email }}<br>
          <b>{{'IDEA_MANAGEMENT.LABEL.DATE_OF_BIRTH' | translate}}:</b> {{ element.birthDay }}<br>
          <b>{{'IDEA_MANAGEMENT.LABEL.WORK_PLACE' | translate}}:</b> {{ element.jobAddress }}<br>
          <b>{{'IDEA_MANAGEMENT.LABEL.OFFICE' | translate}}:</b> {{ element.jobPosition }}<br>
          <b>{{'IDEA_MANAGEMENT.LABEL.QUALIFICATION' | translate}}:</b> {{ element.professionalQualification }}<br>
        </div>
      </div>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="columnsToDisplayWithExpand2"
      style="background-color: rgba(9, 107, 222, 0.5)"
    ></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: columnsToDisplayWithExpand2"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="example-detail-row"
    ></tr>
  </table>
</div>
<div class="info-panel">
  <span>{{ "IDEA_MANAGEMENT.LABEL.BEFORE_APPLY_STATUS" | translate }}:</span>
  <span
    ><b>{{ ideaDetail?.beforeApplyStatus }} </b></span
  >
  <span>{{ "IDEA_MANAGEMENT.LABEL.IDEA_CONTENT" | translate }}:</span>
  <span
    ><b>{{ ideaDetail?.content }} </b>
  </span>
  <span>{{ "IDEA_MANAGEMENT.LABEL.APPLY_RANGE" | translate }}:</span>
  <span
    ><b>{{ ideaDetail?.applyRange }}</b></span
  >
  <span>{{ "IDEA_MANAGEMENT.LABEL.EFFECTIVENESS" | translate }}:</span>
  <span
    ><b>{{ ideaDetail?.effectiveness }}</b></span
  >
  <span>{{ "IDEA_MANAGEMENT.LABEL.NEXT_STEP" | translate }}:</span>
  <span
    ><b>{{ ideaDetail?.nextStep }}</b></span
  >
  <span>{{ "IDEA_MANAGEMENT.LABEL.NOTE" | translate }}:</span>
  <span
    ><b>{{ ideaDetail?.note }}</b></span
  >
  <span>{{ "IDEA_MANAGEMENT.LABEL.DOCUMENTS" | translate }}:</span>
  <span
    ><b>{{ documentDTO?.name ? documentDTO?.name : ('CONTRIVANCE.DETAIL.DOCUMENTS_NOT_EXIST' | translate) }}</b></span
  >
</div>
<div *ngIf="documentDTO?.name != ''" (click)="handleFileDownload()" class="file">
  <div class="upload-file">
    <img src="assets/img/icon/download.svg" alt="ic_camera" />
    <div class="upload-label">
      {{ "IDEA_MANAGEMENT.BUTTON.DOWNLOAD_FILE" | translate }}
    </div>
  </div>
</div>
<div *ngIf="ideaDetail?.approveStatus == 0" class="bottom-box">
  <div (click)="apiApprove()" class="bottom-btn">
    <img src="assets/img/icon/send message.svg">
    <div class="btn2-text">{{'IDEA_MANAGEMENT.BUTTON.SEND_REQUEST_EVALUATE' | translate}}</div>
  </div>
</div>
