<div class="slideshow">
  <div class="slideshow-header">
    <div class="sh-text1">
      <img src="assets/img/icon/good-idea2.png" />
      {{ "HOME.APPROVED_IDEA" | translate
      }}<span><div class="progessbar"></div></span>
    </div>
    <div class="sh-text2">{{ "HOME.WITHIN" | translate }}</div>
  </div>
  <swiper
    [config]="swiperConfig"
    [pagination]="{
      type: 'progressbar'
    }"
    [navigation]="true"
  >
    <ng-template swiperSlide *ngFor="let item of listIdea; let i = index">
      <div class="user-card" (click)="viewDetail(item.ideaId)">
        <div class="line-text-idea">
          "<span>{{ item.ideaName | truncate : 50 }}</span
          >"
        </div>
        <hr class="line-card" />
        <div class="user-info">
          <img class="bg-white" src="assets/img/icon/avatar%20image.png" />
          <div class="info-box">
            <div class="info-text-name">{{ item.staffName }}</div>
            <div class="info-text-code">{{ item.staffCode }}</div>
          </div>
        </div>
      </div>
    </ng-template>
  </swiper>
</div>
