<div class="otp-popup-card">
  <div class="otp-label" *ngIf="title">{{title}}</div>
  <div class="otp-content text-center" *ngIf="content">{{content}}</div>
  <app-input-field
    name="otp"
    placeholder="OTP"
    [(value)]="otpInput"
    (input)="validateOTP()"
    [maxlength]="6"
  ></app-input-field>
  <div class="d-flex justify-content-end">
  <span class="timer" style="color: #f6601b">{{
    timer * 1000 | date: "mm:ss"
    }}</span>
  </div>
  <div class="otp-resend" *ngIf="timer === 0" >
    {{ 'SIGN_UP.TITLE.NOT_RECEIVED' | translate }} <span class="link" style="text-decoration: none;" (click)="resendOTP()">
      {{ 'SIGN_UP.TITLE.RESEND_OTP' | translate }}</span>
  </div>
  <div class="d-flex justify-content-between">
    <button class="btn-cancel" (click)="handleCancel()">{{ "SCAN.BUTTON.SKIP" | translate }}</button>
    <button class="btn-next" (click)="handleNext()">{{ "SCAN.BUTTON.CONFIRM" | translate }}</button>
  </div>
</div>
