<!-- <app-title-nav
  [title]="'EDIT_AUTHOR_IN_GROUP' | translate"
  [backRoute]="backRoute + '/register'"
  >
</app-title-nav> -->
<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0px;
  "
>
  <img src="../../../../../assets/img/icon/Line.png" alt="line" />
</div>
<nav
  style="
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 12px 0px;
  "
>
  <img
    width="24px"
    style="position: absolute; left: 16px;"
    src="../../../../../assets/img/icon/icon-back-2.png"
    alt="img"
  />
  <span style="font-size: 16px; font-weight: 500;">
    Sửa tác giả Trong tập đoàn
  </span>
</nav>
<div class="body">
  <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.STAFF_CODE" | translate }}(<span style="color: red">*</span>)</div>
    <ng-select
    class="custom-class-eia"
      [items]="listStaff"
      bindLabel="staffCode"
      [placeholder]="contributorDTO?.staffCode"
      [(ngModel)]="contributorDTO"
      (change)="onSelectedStaffCodeChange($event)"
    ></ng-select>
    <div class="form-text text-danger" *ngIf="!contributorDTO?.staffCode">{{ "ADD-INSIDE-IDEA.VALIDATE.STAFF-CODE" | translate }}</div>
  </div>
  <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.FULL_NAME" | translate }}</div>
    <input
      class="info-input"
      [placeholder]="'MANAGE_CATEGORY.PLACEHOLDER.FULL_NAME' | translate"
      style="background-color: #f3f3f3"
      [(ngModel)]="contributorDTO.fullName"
      [readonly]="true"
    />
  </div>
  <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.CONTRIBUTE_PERCENT" | translate }}(<span style="color:red">*</span>)</div>
    <input
      class="info-input"
      [placeholder]="'percentage' | translate"
      [(ngModel)]="contributorDTO.percentage"
      maxlength="3"
      NumbersOnly
      (ngModelChange)="percentageValueChange($event)"
      maxlength="3"
    />
    <div class="form-text text-danger" *ngIf=" !contributorDTO.percentage">{{ "ADD-INSIDE-IDEA.VALIDATE.PERCENT" | translate }}</div>
  </div>
  <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.PHONE" | translate }}(<span style="color:red">*</span>)</div>
    <input
      class="info-input"
      [placeholder]="'MANAGE_CATEGORY.PLACEHOLDER.PHONE_NUMBER' | translate"
      [(ngModel)]="contributorDTO.phoneNumber"
      NumbersOnly
      maxlength="12"
    />
    <div class="form-text text-danger" *ngIf=" !contributorDTO.phoneNumber">{{ "ADD-INSIDE-IDEA.VALIDATE.PHONE" | translate }}</div>
  </div>
  <!-- <div class="info-box">
    <div class="info-title">{{ "CONTRIVANCE_MAMAGEMENT.LABEL.EMAIL" | translate }}</div>
    <input
      class="info-input"
      [placeholder]="'MANAGE_CATEGORY.PLACEHOLDER.EMAIL' | translate"
      [(ngModel)]="contributorDTO.email"
      (input)="changeEmail()"
    />
    <div class="form-text text-danger" *ngIf=" !contributorDTO.email">{{ "ADD-INSIDE-IDEA.VALIDATE.EMAIL" | translate }}</div>
    <div class="form-text text-danger" *ngIf="checkEmail && contributorDTO.email">{{ "ADD-INSIDE-IDEA.VALIDATE.EMAIL_FORM" | translate }}</div>
  </div> -->
  <!-- <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.DATE_OF_BIRTH" | translate }}(<span style="color: red">*</span>)</div>
    <label  style="background-color:#f3f3f3" class="date">
      <input
        [placeholder]="'dd/mm/yyyy'"
        type="text"
        name="Date"
        [bsConfig]="bsConfig"
        class="date-text"
        style="background-color:#f3f3f3"
        #dprn="bsDatepicker"
        #vDate
        bsDatepicker
        autocomplete="off"
        [(ngModel)]="contributorDTO.birthday"
        [disabled]="true"
      />
     
      <img src="assets/img/icon/calendar.svg" style="padding: 10px" />
    </label>
    <div class="form-text text-danger" *ngIf=" !contributorDTO.birthday">{{ "ADD-INSIDE-IDEA.VALIDATE.BIRTHDAY" | translate }}</div>
  </div> -->
  <!-- <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.WORK_PLACE" | translate }}</div>
    <input
      class="info-input"
      [placeholder]="'MANAGE_CATEGORY.PLACEHOLDER.WORK_PLACE' | translate"
      [(ngModel)]="contributorDTO.jobAddress"
      style="background-color: #f3f3f3"
      [readonly]="true"
    />
  </div> -->
  <!-- <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.OFFICE" | translate }}</div>
    <input
      class="info-input"
      [placeholder]="'MANAGE_CATEGORY.PLACEHOLDER.POSITION' | translate"
      [(ngModel)]="contributorDTO.jobPosition"
      style="background-color: #f3f3f3"
      [readonly]="true"
    />
  </div> -->
  <!-- <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.QUALIFICATION" | translate }}</div>
    <input
      class="info-input"
      [placeholder]="'MANAGE_CATEGORY.PLACEHOLDER.QUALIFICATION' | translate"
      [(ngModel)]="contributorDTO.professionalQualification"
      style="background-color: #f3f3f3"
      [readonly]="true"
    />
  </div> -->
</div>
<div (click)="editNew()" class="bottom-box">
  <div class="bottom-btn">

    <div class="btn-text">{{ "BUTTON.SAVE" | translate }}</div>
  </div>
</div>
