<app-title-nav
  [title]="'EDIT_AUTHOR_OUTSIDE_GROUP' | translate"
  [backRoute]="backRoute + '/edit'"
>
</app-title-nav>
<div class="body">
  <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.FULL_NAME" | translate }}(<span style="color:red">*</span>)</div>
    <ng-select
      [items]="listContributorOut"
      bindLabel="fullName"
      [placeholder]="contributorDTO?.fullName"
      [(ngModel)]="contributorDTO"
      (change)="onSelectedStaffCodeChange($event)"
      [addTag]="true"
      [addTagText]="'CHOOSE_AUTHOR_NAME' | translate"
    ></ng-select>
  </div>
  <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.WORK_PLACE" | translate }}(<span style="color:red">*</span>)</div>
    <input
      class="info-input"
      [placeholder]="'MANAGE_CATEGORY.PLACEHOLDER.WORK_PLACE' | translate"
      [(ngModel)]="contributorDTO.jobAddress"
    />
  </div>
  <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.OFFICE" | translate }}(<span style="color:red">*</span>)</div>
    <input
      class="info-input"
      [placeholder]="'MANAGE_CATEGORY.PLACEHOLDER.POSITION' | translate"
      [(ngModel)]="contributorDTO.jobPosition"
    />
  </div>
  <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.PHONE" | translate }}(<span style="color:red">*</span>)</div>
    <input
      class="info-input"
      [placeholder]="'MANAGE_CATEGORY.PLACEHOLDER.PHONE_NUMBER' | translate"
      [(ngModel)]="contributorDTO.phoneNumber"
      NumbersOnly
      maxlength="12"
    />
  </div>
  <div class="info-box">
    <div class="info-title">{{ "CONTRIVANCE_MAMAGEMENT.LABEL.EMAIL" | translate }}(<span style="color:red">*</span>)</div>
    <input
      class="info-input"
      [placeholder]="'MANAGE_CATEGORY.PLACEHOLDER.EMAIL' | translate"
      [(ngModel)]="contributorDTO.email"
    />
  </div>
  <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.QUALIFICATION" | translate }}</div>
    <input
      class="info-input"
      [placeholder]="'MANAGE_CATEGORY.PLACEHOLDER.QUALIFICATION' | translate"
      [(ngModel)]="contributorDTO.professionalQualification"
    />
  </div>
  <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.CONTRIBUTE_PERCENT" | translate }}(<span style="color:red">*</span>)</div>
    <input
      class="info-input"
      [placeholder]="'percentage' | translate"
      [(ngModel)]="contributorDTO.percentage"
      maxlength="3"
      NumbersOnly
      (ngModelChange)="percentageValueChange($event)"
      maxlength="3"
    />
  </div>
</div>
<div (click)="edit()" class="bottom-box">
  <div class="bottom-btn">
    <img src="assets/img/icon/plus.svg" />
    <div class="btn-text">{{ "BUTTON.SAVE" | translate }}</div>
  </div>
</div>
