<!-- <app-title-nav
  [title]="'EDIT_AUTHOR_OUTSIDE_GROUP' | translate"
  [backRoute]="backRoute + '/edit'"
>
</app-title-nav> -->
<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0px;
  "
>
  <img src="../../../../../assets/img/icon/Line.png" alt="line" />
</div>
<nav
  style="
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 12px 0px;
  "
>
  <img
    width="24px"
    style="position: absolute; left: 16px;"
    src="../../../../../assets/img/icon/icon-back-2.png"
    alt="img"
    (click)="goBack()"
  />
  <span style="font-size: 16px; font-weight: 500;">
    {{ 'IDEA_NEW.EDIT_OUTSIDE' | translate }}
  </span>
</nav>
<div class="body">
  <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.FULL_NAME" | translate }}(<span style="color:red">*</span>)</div>
    <ng-select
    class="custom-class-eoe"
      [items]="listContributorOut"
      bindLabel="displayName"
      bindValue="fullName"
      [placeholder]="'MANAGE_CATEGORY.PLACEHOLDER.STAFF_CODE' | translate"
      [(ngModel)]="staffCode"
      (change)="onSelectedStaffCodeChange($event)"
      [addTag]="true"
      [addTagText]="'CHOOSE_AUTHOR_NAME' | translate"
    ></ng-select>
    <div class="form-text text-danger" *ngIf="!contributorDTO?.displayName">{{ "ADD-INSIDE-IDEA.VALIDATE.NAME" | translate }}</div>

  </div>
  <!-- <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.WORK_PLACE" | translate }}</div>
    <input
      class="info-input"
      [placeholder]="'MANAGE_CATEGORY.PLACEHOLDER.WORK_PLACE' | translate"
      [ngModel]="contributorDTO?.jobAddress"
      (ngModelChange)="updateJobAddress($event)"
    />
  </div> -->
  <!-- <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.OFFICE" | translate }}</div>
    <input
      class="info-input"
      [placeholder]="'MANAGE_CATEGORY.PLACEHOLDER.POSITION' | translate"
      (ngModelChange)="updateJobPosition($event)"
      [ngModel]="contributorDTO?.jobPosition"
    />

  </div> -->
  <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.PHONE" | translate }}(<span style="color:red">*</span>)</div>
    <input
      class="info-input"
      [placeholder]="'MANAGE_CATEGORY.PLACEHOLDER.PHONE_NUMBER' | translate"
      [ngModel]="contributorDTO?.phoneNumber"
      (ngModelChange)="updatePhoneNumber($event)"
      NumbersOnly
      maxlength="15"
    />
    <div
    class="form-text text-danger"
    *ngIf="msgPhoneError && msgPhoneError.length > 0"
  >
    {{ msgPhoneError }}
  </div>
  </div>
  <div class="info-box">
    <div class="info-title">{{ "CONTRIVANCE_MAMAGEMENT.LABEL.EMAIL" | translate }}</div>
    <input
      class="info-input"
      [placeholder]="'MANAGE_CATEGORY.PLACEHOLDER.EMAIL' | translate"
      [ngModel]="contributorDTO?.email"
      (ngModelChange)="updateEmail($event)"
    />
    <div class="form-text text-danger" *ngIf="checkEmail && contributorDTO.email">{{ "ADD-INSIDE-IDEA.VALIDATE.EMAIL_FORM" | translate }}</div>
  </div>
  <!-- <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.QUALIFICATION" | translate }}</div>
    <input
      class="info-input"
      [placeholder]="'MANAGE_CATEGORY.PLACEHOLDER.QUALIFICATION' | translate"
      [ngModel]="contributorDTO?.professionalQualification"
      (ngModelChange)="updateProfessionalQualification($event)"
    />
  </div> -->
  <div *ngIf="contributorDTO" class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.CONTRIBUTE_PERCENT" | translate }}(<span style="color:red">*</span>)</div>
    <input
      class="info-input"
      [placeholder]="'percentage' | translate"
      [(ngModel)]="contributorDTO.percentage"
      maxlength="3"
      NumbersOnly
      (ngModelChange)="percentageValueChange($event)"
      maxlength="3"
    />
  </div>
</div>
<div (click)="editNew()" class="bottom-box">
  <div class="bottom-btn">
    <!-- <img src="assets/img/icon/plus.svg" /> -->
    <div class="btn-text">{{ "BUTTON.SAVE" | translate }}</div>
  </div>
</div>
