<app-title-nav *ngIf="!forgotPasswordService.checkType" [title]="'TITLE.FORGOT_PASS' | translate" backRoute="auth/sign-in"> </app-title-nav>
<app-title-nav *ngIf="forgotPasswordService.checkType" [title]="'TITLE.CHANGE_PASS' | translate" backRoute="home/more"> </app-title-nav>

<div class="container margin-top-more ma-b-80">
  <div class="mb-3">
    <app-input-otp
      label="OTP"
      name="otp"
      [(value)]="otp"
      [placeholder]="'SIGN_IN.PLACEHOLDER.OTP' | translate"
      [labelLink]="'SIGN_UP.TITLE.SEND_OTP' | translate"
      maxlength="6"
      rightSide="send"
    ></app-input-otp>
  </div>
  <app-input-password
    [label]="'FORGOT_PASSWORD.LABEL.NEW_PASS' | translate"
    name="password"
    [(value)]="password"
    maxlength="20"
    [placeholder]="'FORGOT_PASSWORD.PLACEHOLDER.NEW_PASS' | translate"
  ></app-input-password>
  <app-input-password
    [label]="'FORGOT_PASSWORD.LABEL.RETYPE_NEW_PASS' | translate"
    name="retypePassword"
    [(value)]="retypePassword"
    maxlength="20"
    [placeholder]="'FORGOT_PASSWORD.PLACEHOLDER.RETYPE_NEW_PASS' | translate"
  ></app-input-password>
</div>

<app-footer-nav
  [label]="'TITLE.SUBMIT' | translate"
  [submitDisabled]="submitDisabled"
  (handleSubmit)="handleSubmit()"
></app-footer-nav>
