<div class="slideshow">
    <div class="slideshow-header">
        <div class="sh-text1">{{'HOME.APPROVED_CONTRIVANCE' | translate}}</div>
        <div class="sh-text2">{{'HOME.WITHIN' | translate}}</div>
    </div>
    <swiper
            [slidesPerView]="2"
            [spaceBetween]="30"
            [navigation]="true"
            [pagination]="{ clickable: true }"
            [centeredSlides]="true"
            [rewind]="true"
            [initialSlide]="1"
    >
        <ng-template swiperSlide *ngFor="let item of listContrivance ; let i = index">
            <div class="user-card" (click)="viewDetail(item.contrivanceId)">
            <img class="bg-white" src="assets/img/icon/image 1.svg">
                <div class="line-text">{{'HOME.CONTRIVANCE_NAME' | translate}}
                    <span>{{item.contrivanceName | truncate:50}}</span>
                </div>
                <div class="line-text2">{{'HOME.PERCENT_DUP' |translate}}
                    <span *ngIf="item.effectiveValue"><b>{{item.effectiveValue}}{{' KIP'}}</b></span>
                    <span *ngIf="!item.effectiveValue"><b>{{'CONTRIVANCE.DETAIL.CANNOT_CALCULATED' | translate}}</b></span>
                </div>
                <div class="user-info">
                    <img class="bg-white" src="assets/img/icon/avatar%20image.png">
                    <div class="info-box">
                        <div class="info-text">{{item.staffName}}</div>
                        <div class="info-text">{{item.staffCode}}</div>
                    </div>
                </div>
            </div>
        </ng-template>
    </swiper>
</div>
