<div class="slideshow">
  <div class="slideshow-header">
    <div class="sh-text1">
      <img [src]="imgURL" />{{
        (type == "contrivance"
          ? "HOME.APPROVED_CONTRIVANCE"
          : "HOME.APPROVED_IDEA"
        ) | translate
      }}
      <span><div class="progessbar"></div></span>
    </div>

    <div class="sh-text2">{{ "HOME.WITHIN" | translate }}</div>
  </div>
  <swiper
    [config]="swiperConfig"
    [pagination]="{
      type: 'progressbar'
    }"
    [navigation]="true"
  >
    <ng-template swiperSlide *ngFor="let item of list; let i = index">
      <div
        class="user-card"
        (click)="
          viewDetail(type == 'contrivance' ? item.contrivanceId : item.ideaId)
        "
      >
        <div [ngClass]=" type == 'contrivance' ? 'line-text-contrivance' : 'line-text-idea' ">
          "{{(type == 'contrivance' ? item.contrivanceName : item.ideaName ) | truncate : 50 }}"
        </div>
        <div class="line-text2" *ngIf="type == 'contrivance'">
          {{ "HOME.PERCENT_DUP" | translate }}
          <span *ngIf="item.effectiveValue"
            >{{ item.effectiveValue }}{{ " KIP" }}</span
          >
          <span *ngIf="!item.effectiveValue">{{
            "CONTRIVANCE.DETAIL.CANNOT_CALCULATED" | translate
          }}</span>
        </div>
        <hr class="line-card" />
        <div class="user-info">
          <img class="img-staff" src="assets/img/icon/avatar%20image.png" />
          <div class="info-box">
            <div class="info-text-name">{{ item.staffName }}</div>
            <div class="info-text-code">{{ item.staffCode }}</div>
          </div>
        </div>
      </div>
    </ng-template>
  </swiper>
</div>
