.toggle-password {
  margin-right: 16px;
  margin-top: -60px;
  cursor: pointer;
  height: 44px;
  line-height: 44px;
}
.form-control {
  height: 44px;
  padding-right: 40px;
  &:focus {
    outline: none;
    box-shadow: none;
    border-color: #f6601b;
  }
}
