<div class="form-group">
  <label for="password" class="label-form-lcd-p1 color-black" *ngIf="label">{{ label }}</label>
  <input
    class="form-control input-form-lcd"
    [name]="name"
    [placeholder]="placeholder"
    [(ngModel)]="value"
    [maxlength]="maxlength"
    [type]="hiddenPassword ? 'password' : 'text'"
    (ngModelChange)="valueChangeEvent()"
    [style]="
      !hiddenPassword || value.length == 0
        ? 'letter-spacing: 0px; font-size: 0.875rem;'
        : 'letter-spacing: 1px; font-size: 20px;'
    "
    required
  />
</div>
<div class="d-flex justify-content-end">
  <i
    [ngClass]="
      hiddenPassword
        ? 'far fa-eye-slash toggle-password'
        : 'far fa-eye toggle-password'
    "
    (click)="togglePassword()"
  ></i>
</div>
