<app-title-nav
  [title]="'EDIT_AUTHOR_OUTSIDE_GROUP' | translate"
  [backRoute]="backRoute + '/register'"
>
</app-title-nav>
<div class="body">
  <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.FULL_NAME" | translate }}(<span style="color:red">*</span>)</div>
    <ng-select
      [items]="listContributorOut"
      bindLabel="fullName"
      [placeholder]="contributorDTO?.fullName"
      [(ngModel)]="contributorDTO"
      [addTag]="true"
      [addTagText]="'Chọn tên tác giả'"
      (change)="onSelectedStaffCodeChange($event)"
      [addTag]="true"
      [addTagText]="'CHOOSE_AUTHOR_NAME' | translate"
    ></ng-select>
    <div class="form-text text-danger" *ngIf="!contributorDTO?.fullName">{{ "ADD-INSIDE-IDEA.VALIDATE.NAME" | translate }}</div>
  </div>
  <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.WORK_PLACE" | translate }}</div>
    <input
      class="info-input"
      [placeholder]="'MANAGE_CATEGORY.PLACEHOLDER.WORK_PLACE' | translate"
      [ngModel]="contributorDTO?.jobAddress"
      (ngModelChange)="updateJobAddress($event)"
    />
  </div>
  <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.OFFICE" | translate }}</div>
    <input
      class="info-input"
      [placeholder]="'MANAGE_CATEGORY.PLACEHOLDER.POSITION' | translate"
      [ngModel]="contributorDTO?.jobPosition"
      (ngModelChange)="updateJobPosition($event)"
    />
  </div>
  <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.PHONE" | translate }}(<span style="color:red">*</span>)</div>
    <input
      class="info-input"
      [placeholder]="'MANAGE_CATEGORY.PLACEHOLDER.PHONE_NUMBER' | translate"
      [ngModel]="contributorDTO?.phoneNumber"
      (ngModelChange)="updatePhoneNumber($event)"
      NumbersOnly
      maxlength="12"
    />
    <div class="form-text text-danger" *ngIf="!contributorDTO?.phoneNumber">{{ "ADD-INSIDE-IDEA.VALIDATE.PHONE" | translate }}</div>
  </div>
  <div class="info-box">
    <div class="info-title">{{ "CONTRIVANCE_MAMAGEMENT.LABEL.EMAIL" | translate }}</div>
    <input
      class="info-input"
      [placeholder]="'MANAGE_CATEGORY.PLACEHOLDER.EMAIL' | translate"
      [ngModel]="contributorDTO?.email"
      (ngModelChange)="updateEmail($event)"
    />
    <div class="form-text text-danger" *ngIf="checkEmail && contributorDTO.email">{{ "ADD-INSIDE-IDEA.VALIDATE.EMAIL_FORM" | translate }}</div>
  </div>
  <!-- <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.QUALIFICATION" | translate }}</div>
    <input
      class="info-input"
      [placeholder]="'MANAGE_CATEGORY.PLACEHOLDER.QUALIFICATION' | translate"
      [ngModel]="contributorDTO?.professionalQualification"
      (ngModelChange)="updateProfessionalQualification($event)"
    />
  </div> -->
  <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.CONTRIBUTE_PERCENT" | translate }}(<span style="color:red">*</span>)</div>
    <input
      class="info-input"
      [placeholder]="'percentage' | translate"
      [(ngModel)]="contributorDTO.percentage"
      maxlength="3"
      NumbersOnly
      (ngModelChange)="percentageValueChange($event)"
      maxlength="3"
    />
    <div class="form-text text-danger" *ngIf="!contributorDTO?.percentage">{{ "ADD-INSIDE-IDEA.VALIDATE.PERCENT" | translate }}</div>
  </div>
  
</div>
<div (click)="edit()" class="bottom-box">
  <div class="bottom-btn">
    <img src="assets/img/icon/plus.svg" />
    <div class="btn-text">{{ "BUTTON.SAVE" | translate }}</div>
  </div>
</div>
