<app-title-nav
  [title]="'Sửa tác giả ngoài tập đoàn' | translate"
  [backRoute]="backRoute + '/register'"
>
</app-title-nav>
<div class="body">
  <div class="info-box">
    <div class="info-title">{{ "Họ và tên (*)" | translate }}</div>
    <ng-select
      [items]="listContributorOut"
      bindLabel="fullName"
      [placeholder]="contributorDTO?.fullName"
      [(ngModel)]="contributorDTO"
      (change)="onSelectedStaffCodeChange($event)"
    ></ng-select>
  </div>
  <div class="info-box">
    <div class="info-title">{{ "Nơi công tác (*)" | translate }}</div>
    <input
      class="info-input"
      [placeholder]="'Nhập nơi công tác' | translate"
      [(ngModel)]="contributorDTO.jobAddress"
    />
  </div>
  <div class="info-box">
    <div class="info-title">{{ "Chức vụ (*)" | translate }}</div>
    <input
      class="info-input"
      [placeholder]="'Nhập chức vụ' | translate"
      [(ngModel)]="contributorDTO.jobPosition"
    />
  </div>
  <div class="info-box">
    <div class="info-title">{{ "Số điện thoại  (*)" | translate }}</div>
    <input
      class="info-input"
      [placeholder]="'Nhập số điện thoại ' | translate"
      [(ngModel)]="contributorDTO.phoneNumber"
      NumbersOnly
      maxlength="12"
    />
  </div>
  <div class="info-box">
    <div class="info-title">{{ "Email (*)" | translate }}</div>
    <input
      class="info-input"
      [placeholder]="'Nhập email' | translate"
      [(ngModel)]="contributorDTO.email"
    />
  </div>
  <div class="info-box">
    <div class="info-title">{{ "Trình độ chuyên môn " | translate }}</div>
    <input
      class="info-input"
      [placeholder]="'Nhập trình độ chuyên môn' | translate"
      [(ngModel)]="contributorDTO.professionalQualification"
    />
  </div>
  <div class="info-box">
    <div class="info-title">{{ "% đóng góp (*)" | translate }}</div>
    <input
      class="info-input"
      [placeholder]="'Nhập % đóng góp của tác giả' | translate"
      [(ngModel)]="contributorDTO.percentage"
      maxlength="3"
      NumbersOnly
      (ngModelChange)="percentageValueChange($event)"
      maxlength="3"
    />
  </div>
</div>
<div (click)="edit()" class="bottom-box">
  <div class="bottom-btn">
    <img src="assets/img/icon/plus.svg" />
    <div class="btn-text">{{ "Lưu lại" | translate }}</div>
  </div>
</div>
