<!-- <div class="title">
  <img src="assets/img/icon/image 1.svg" />
  <div class="title-name">{{ "HOME.TITLE" | translate }}</div>
</div>
<div class="header">
  <img src="assets/img/icon/thicker.svg" style="padding-left: 10px" />
  <div class="header-text">
    {{ "HOME.WELCOME" | translate }}{{ "2097504175" }}
  </div>
  <div class="header-avatar">
    <img src="assets/img/icon/220-vietnam 1.svg" />
  </div>
</div> -->
<app-title-nav-idea
  [title]="'IDEA_MANAGEMENT.TITLE.LIST_IDEA' | translate"
  [backRoute]="backRoute"
  isBackHome="true"
  createRoute="this"
></app-title-nav-idea>
<div class="home-container">
 <div class="home-body">
  <div class="header-title">
    <div class="header-title-hightlight">
      <div>{{ "CONTRIVANCE_MAMAGEMENT.TITLE.CONTRIVANCE" | translate }} &</div>
      <div> {{ "IDEA_MANAGEMENT.LABEL.IDEA" | translate }}</div>
    </div>
    <div class="d-flex">
      <span class="sub-title-number">{{listContrivance?.length}}+</span>
      <span class="header-title-text ml-1"> {{ "CONTRIVANCE_MAMAGEMENT.TITLE.CONTRIVANCE" | translate }}</span>
      <hr class="sub-title-line"
      />
      <span class="sub-title-number">{{listIdea?.length}}+</span>
      <span class="header-title-text  ml-1"> {{ "IDEA_MANAGEMENT.LABEL.IDEA" | translate }}</span>
    </div>
  </div>
  <app-recent-contrivance-idea
    [list]="listContrivance" [type]="'contrivance'"
  ></app-recent-contrivance-idea>
  <app-recent-contrivance-idea [list]="listIdea"  [type]="'idea'"></app-recent-contrivance-idea>
 </div>
  <app-nav-menu></app-nav-menu>
</div>
