.overlay-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền mờ */
    backdrop-filter: blur(5px);
    z-index: 99999; /* Đảm bảo nó hiển thị trên các phần tử khác */
  }