<app-title-nav
  [title]="'IDEA-DETAIL.EDIT.EDIT_IDEA_DETAILS' | translate"
  backRoute="idea/detail"
>
</app-title-nav>
<div class="nation-brand">
  <div class="nation">
    <div class="nation-text align-self-stretch">
      {{ "IDEA_MANAGEMENT.LABEL.TEXT_HEADER" | translate }}
    </div>
    <div class="nation-text">
      {{ "IDEA_MANAGEMENT.LABEL.SUB_TEXT_HEADER" | translate }}
    </div>
  </div>
  <div class="line" style="width: 40%"></div>
  <div class="form">
    <div class="form-name">
      {{ "IDEA_MANAGEMENT.LABEL.TEXT_FORM_HEADER" | translate }}
    </div>
    <div class="form-for">
      {{ "IDEA_MANAGEMENT.LABEL.SUB_TEXT_FORM_HEADER" | translate }}
    </div>
  </div>
</div>
<div class="line"></div>
<div class="idea-form">
  <div class="header-text">
    1. {{ "IDEA_MANAGEMENT.LABEL.IDEA" | translate }}
  </div>
  <div class="input-form">
    <div class="input-name">{{ "IDEA_MANAGEMENT.LABEL.IDEA_NAME" | translate }} (<span
      style="color: red"
      >*</span
    >)</div>
    <input
      class="input-field"
      [value]="ideaNameValue"
      type="text"
      [(ngModel)]="ideaNameValue"
      (input)="onInputValueChange()"
    />
    <div class="form-text text-danger" *ngIf="!ideaNameValue">
      {{ "ADD-INSIDE-IDEA.VALIDATE.IDEA-NAME" | translate }}
    </div>
  </div>
  <div class="input-form">
    <div class="input-name">
      {{ "IDEA_MANAGEMENT.LABEL.DATE_APPLY_FROM" | translate }} (<span
        style="color: red"
        >*</span
      >)
    </div>
    <label class="date">
      <input
        [value]="applyStartTimeString"
        type="text"
        name="Date"
        [bsConfig]="bsConfig"
        class="date-text"
        style="background-color: white; border: white"
        #dprn="bsDatepicker"
        #vDate
        bsDatepicker
        autocomplete="off"
        [(ngModel)]="applyStartTime"
        (ngModelChange)="selectStartDate()"
      />
      <img src="assets/img/icon/calendar.svg" style="padding: 10px" />
    </label>
    <div class="form-text text-danger" *ngIf="!applyStartTime">
      {{ "ADD-INSIDE-IDEA.VALIDATE.EMPTY_START_DATE" | translate }}
    </div>
    <div class="form-text text-danger" *ngIf="checkStartDate">
      {{ "ADD-INSIDE-IDEA.VALIDATE.START_DAY" | translate }}
    </div>
    <div class="form-text text-danger" *ngIf="checkNow">
      {{ "ADD-INSIDE-IDEA.VALIDATE.APPLY_START_DAY" | translate }}
    </div>
  </div>
  <div class="input-form">
    <div class="input-name">
      {{ "IDEA_MANAGEMENT.LABEL.DATE_APPLY_TO" | translate }}
    </div>
    <label class="date">
      <input
        [value]="applyEndTimeString"
        type="text"
        name="Date"
        [bsConfig]="bsConfig"
        class="date-text"
        style="background-color: white; border: white"
        #dprn="bsDatepicker"
        #vDate
        bsDatepicker
        autocomplete="off"
        [(ngModel)]="applyEndTime"
        (ngModelChange)="selectEndDate()"
      />
      <img src="assets/img/icon/calendar.svg" style="padding: 10px" />
    </label>
    <!-- <div class="form-text text-danger" *ngIf="!applyEndTime">
      {{ "ADD-INSIDE-IDEA.VALIDATE.EMPTY_END_DATE" | translate }}
    </div> -->
    <div class="form-text text-danger" *ngIf="checkStartDate">
      {{ "ADD-INSIDE-IDEA.VALIDATE.START_DAY" | translate }}
    </div>
    <div class="form-text text-danger" *ngIf="checkNow2">
      {{ "ADD-INSIDE-IDEA.VALIDATE.APPLY_END_DAY" | translate }}
    </div>
  </div>
  <div class="input-form">
    <div class="input-name">
      {{ "IDEA_MANAGEMENT.LABEL.UNIT_APPLY" | translate }} (<span
        style="color: red"
        >*</span
      >)
    </div>
    <div style="width: 100%" class="dropdown">
      <button
        style="text-align: start"
        class="input-field btn-unit"
        (click)="toggleDropdown()"
      >
        <ng-container
          *ngIf="selectedUnitValue?.length > 0; else showDefaultText"
        >
          <span
            style="font-size: 16px"
            *ngFor="let selectedItem of selectedUnitValue; let last = last"
          >
            {{ selectedItem.unitName }}{{ !last ? ", " : "" }}
          </span>
        </ng-container>
        <ng-template #showDefaultText>
          {{ "IDEA_MANAGEMENT.PLACEHOLDER.SELECT_UNIT" | translate }}
        </ng-template>
      </button>
      <div class="dropdown-content" *ngIf="DataService.showDropdownEdit">
        <ng-container *ngFor="let item of listUnit">
          <label>
            <input
              type="checkbox"
              [(ngModel)]="item.selected"
              (change)="onCheckboxChange(item)"
              [checked]="item.selected"
              (focus)="unitFieldTouched = true"
            />
            {{ item.unitName }}
          </label>
        </ng-container>
      </div>
    </div>
    <div
      class="form-text text-danger"
      *ngIf="unitFieldTouched && !selectedUnitValue?.length"
    >
      {{ "ADD-INSIDE-IDEA.VALIDATE.UNIT" | translate }}
    </div>
  </div>
  <div class="input-form">
    <div class="input-name">
      {{ "IDEA_MANAGEMENT.LABEL.SPECIALTY" | translate }} (<span
        style="color: red"
        >*</span
      >)
    </div>
    <select
      class="input-field"
      [(ngModel)]="specialty"
      (change)="onSelectSpecialtyChange()"
    >
      <option [ngValue]="null">
        {{ "IDEA_MANAGEMENT.PLACEHOLDER.SELECT_SPECIALTY" | translate }}
      </option>
      <ng-container *ngFor="let item of listSpecialty">
        <option [value]="item.value">{{ item.name }}</option>
      </ng-container>
    </select>
    <div class="form-text text-danger" *ngIf="!specialty">
      {{ "ADD-INSIDE-IDEA.VALIDATE.SPECIALTY" | translate }}
    </div>
  </div>
</div>
<div class="line"></div>
<div class="idea-form">
  <div class="header-text">2. {{ "IDEA_MANAGEMENT.LABEL.AUTHOR" | translate }}</div>
  <div class="input-form">
    <div class="input-name">
      {{ "IDEA_MANAGEMENT.LABEL.IN_GROUP" | translate }} (<span
        style="color: red"
        >*</span
      >)
    </div>
    <table
      mat-table
      [dataSource]="dataSource"
      multiTemplateDataRows
      class="mat-elevation-z8 table-bordered"
    >
      <ng-container matColumnDef="expand">
        <th
          mat-header-cell
          *matHeaderCellDef
          aria-label="row actions"
          style="width: 10%"
        ></th>
        <td mat-cell *matCellDef="let element" style="text-align: center">
          <i
            *ngIf="expandedElement !== element"
            class="fa fa-chevron-right"
            (click)="
              expandedElement = expandedElement === element ? null : element;
              $event.stopPropagation()
            "
          ></i>
          <i
            *ngIf="expandedElement === element"
            class="fa fa-chevron-down"
            (click)="
              expandedElement = expandedElement === element ? null : element;
              $event.stopPropagation()
            "
          ></i>
        </td>
      </ng-container>
      <ng-container matColumnDef="user">
        <th
          mat-header-cell
          *matHeaderCellDef
          aria-label="row actions"
          style="width: 10%"
        ></th>
        <td mat-cell *matCellDef="let element" style="text-align: center">
          <i class="fa fa-user"></i>
        </td>
      </ng-container>

      <ng-container
        matColumnDef="{{ column }}"
        *ngFor="let column of columnsToDisplay"
      >
        <th mat-header-cell *matHeaderCellDef class="th-text">
          {{ column | translate }}
        </th>
        <td mat-cell *matCellDef="let element" style="text-align: center">
          {{ element[column] }}
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let element"
          [attr.colspan]="columnsToDisplayWithExpand.length"
        >
          <div
            class="example-element-detail"
            [@detailExpand]="
              element == expandedElement ? 'expanded' : 'collapsed'
            "
          >
            <div class="example-element-description">
              <b>{{ "IDEA_MANAGEMENT.LABEL.TELEPHONE" | translate }}:</b>
              {{ element.phoneNumber }}<br />
              <b>{{ "IDEA_MANAGEMENT.LABEL.EMAIL" | translate }}:</b>
              {{ element.email }}<br />
              <b>{{ "IDEA_MANAGEMENT.LABEL.DATE_OF_BIRTH" | translate }}:</b>
              <ng-container>
                {{
                  isTypeOfString(element.birthDay)
                    ? element.birthDay
                    : (element.birthDay | date : "dd/MM/yyyy")
                }} </ng-container
              ><br />
              <b>{{ "IDEA_MANAGEMENT.LABEL.WORK_PLACE" | translate }}:</b>
              {{ element.jobAddress }}<br />
              <b>{{ "IDEA_MANAGEMENT.LABEL.OFFICE" | translate }}:</b>
              {{ element.jobPosition }}<br />
              <b>{{ "IDEA_MANAGEMENT.LABEL.QUALIFICATION" | translate }}:</b>
              {{ element.professionalQualification }}<br />
            </div>
            <div class="example-element-description row">
              <div class="col-6">
                <button
                  class="btn btn-warning btn-contributor-action"
                  (click)="EditInsideAuthor(element.staffId)"
                >
                  <img src="assets/img/icon/edit.svg" />
                </button>
              </div>
              <div class="col-6">
                <button
                  class="btn btn-danger btn-contributor-action"
                  (click)="deleteInsideAuthor(element.staffId)"
                >
                  <img src="assets/img/icon/trash.svg" />
                </button>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="columnsToDisplayWithExpand"
        style="background-color: rgba(9, 107, 222, 0.5)"
      ></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: columnsToDisplayWithExpand"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="example-detail-row"
      ></tr>
    </table>
    <button
      class="btn btn-success btn-contributor-action mt-2"
      (click)="AddInsideAuthor()"
    >
      <img src="assets/img/icon/plus.svg" />
      {{ "ACTION.ADD" | translate }}
    </button>
  </div>
  <div class="input-form">
    <div class="input-name">
      {{ "IDEA_MANAGEMENT.LABEL.OUT_GROUP" | translate }}
    </div>
    <table
      mat-table
      [dataSource]="dataSource2"
      multiTemplateDataRows
      class="mat-elevation-z8 table-bordered"
    >
      <ng-container matColumnDef="expand">
        <th
          mat-header-cell
          *matHeaderCellDef
          aria-label="row actions"
          style="width: 10%"
        ></th>
        <td mat-cell *matCellDef="let element" style="text-align: center">
          <i
            *ngIf="expandedElement !== element"
            class="fa fa-chevron-right"
            (click)="
              expandedElement = expandedElement === element ? null : element;
              $event.stopPropagation()
            "
          ></i>
          <i
            *ngIf="expandedElement === element"
            class="fa fa-chevron-down"
            (click)="
              expandedElement = expandedElement === element ? null : element;
              $event.stopPropagation()
            "
          ></i>
        </td>
      </ng-container>
      <ng-container matColumnDef="user">
        <th
          mat-header-cell
          *matHeaderCellDef
          aria-label="row actions"
          style="width: 10%"
        ></th>
        <td mat-cell *matCellDef="let element" style="text-align: center">
          <i class="fa fa-user"></i>
        </td>
      </ng-container>

      <ng-container
        matColumnDef="{{ column }}"
        *ngFor="let column of columnsToDisplay2"
      >
        <th mat-header-cell *matHeaderCellDef class="th-text">
          {{ column | translate }}
        </th>
        <td mat-cell *matCellDef="let element" style="text-align: center">
          {{ element[column] }}
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let element"
          [attr.colspan]="columnsToDisplayWithExpand2.length"
        >
          <div
            class="example-element-detail"
            [@detailExpand]="
              element == expandedElement ? 'expanded' : 'collapsed'
            "
          >
            <div class="example-element-description">
              <b>{{ "IDEA_MANAGEMENT.LABEL.TELEPHONE" | translate }}:</b>
              {{ element.phoneNumber }}<br />
              <b>{{ "IDEA_MANAGEMENT.LABEL.EMAIL" | translate }}:</b>
              {{ element.email }}<br />
              <!-- <b>{{ "IDEA_MANAGEMENT.LABEL.DATE_OF_BIRTH" | translate }}:</b>
              {{ element.birthDay }}<br /> -->
              <b>{{ "IDEA_MANAGEMENT.LABEL.WORK_PLACE" | translate }}:</b>
              {{ element.jobAddress }}<br />
              <b>{{ "IDEA_MANAGEMENT.LABEL.OFFICE" | translate }}:</b>
              {{ element.jobPosition }}<br />
              <b>{{ "IDEA_MANAGEMENT.LABEL.QUALIFICATION" | translate }}:</b>
              {{ element.professionalQualification }}<br />
            </div>
            <div class="example-element-description row">
              <div class="col-6">
                <button
                  class="btn btn-warning btn-contributor-action"
                  (click)="
                    EditOutsideAuthor(element.phoneNumber, element.email)
                  "
                >
                  <img src="assets/img/icon/edit.svg" />
                </button>
              </div>
              <div class="col-6">
                <button
                  class="btn btn-danger btn-contributor-action"
                  (click)="
                    deleteOutsideAuthor(element.phoneNumber, element.email)
                  "
                >
                  <img src="assets/img/icon/trash.svg" />
                </button>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="columnsToDisplayWithExpand2"
        style="background-color: rgba(9, 107, 222, 0.5)"
      ></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: columnsToDisplayWithExpand2"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="example-detail-row"
      ></tr>
    </table>
    <button
      class="btn btn-success btn-contributor-action mt-2"
      (click)="AddOutsideAuthor()"
    >
      <img src="assets/img/icon/plus.svg" />
      {{ "ACTION.ADD" | translate }}
    </button>
  </div>
</div>

<div class="line"></div>
<div class="idea-form">
  <div class="header-text">
    3. {{ "IDEA_MANAGEMENT.LABEL.IDEA_DESCRIPTION" | translate }}
  </div>
  <div class="input-form">
    <div class="input-name">
      3.1 {{ "IDEA_MANAGEMENT.LABEL.BEFORE_APPLY_STATUS" | translate }} (<span
        style="color: red"
        >*</span
      >)
    </div>
    <textarea
      class="input-field"
      style="height: 60px; padding-top: 5px"
      rows="4"
      cols="50"
      [value]="beforeApplyStatus"
      [(ngModel)]="beforeApplyStatus"
      (input)="beforeApplyStatusChange()"
      >{{ "" | translate }}</textarea
    >
    <div class="form-text text-danger" *ngIf="!beforeApplyStatus">
      {{ "ADD-INSIDE-IDEA.VALIDATE.BEFORE_APPLY_STATUS" | translate }}
    </div>
  </div>
  <div class="input-form">
    <div class="input-name">
      3.2 {{ "IDEA_MANAGEMENT.LABEL.IDEA_CONTENT" | translate }} (<span
        style="color: red"
        >*</span
      >)
    </div>
    <textarea
      class="input-field"
      style="height: 60px; padding-top: 5px"
      rows="4"
      cols="50"
      [value]="content"
      [(ngModel)]="content"
      (input)="contentChange()"
      >{{ "" | translate }}</textarea
    >
    <div class="form-text text-danger" *ngIf="!content">
      {{ "ADD-INSIDE-IDEA.VALIDATE.CONTENT" | translate }}
    </div>
  </div>
  <div class="input-form">
    <div class="input-name">
      3.3 {{ "IDEA_MANAGEMENT.LABEL.APPLY_RANGE" | translate }} (<span
        style="color: red"
        >*</span
      >)
    </div>
    <textarea
      class="input-field"
      style="height: 60px; padding-top: 5px"
      rows="4"
      cols="50"
      [value]="applyRange"
      [(ngModel)]="applyRange"
      (input)="applyRangeChange()"
      >{{ "" | translate }}</textarea
    >
    <div class="form-text text-danger" *ngIf="!applyRange">
      {{ "ADD-INSIDE-IDEA.VALIDATE.APPLY_RANGE" | translate }}
    </div>
  </div>
  <div class="input-form">
    <div class="input-name">
      3.4 {{ "IDEA_MANAGEMENT.LABEL.EFFECTIVENESS" | translate }} (<span
        style="color: red"
        >*</span
      >)
    </div>
    <textarea
      class="input-field"
      style="height: 60px; padding-top: 5px"
      rows="4"
      cols="50"
      [value]="effectiveness"
      [(ngModel)]="effectiveness"
      (input)="effectivenessChange()"
      >{{ "" | translate }}</textarea
    >
    <div class="form-text text-danger" *ngIf="!effectiveness">
      {{ "ADD-INSIDE-IDEA.VALIDATE.EFFECTIVENESS" | translate }}
    </div>
  </div>
  <div class="input-form">
    <div class="input-name">
      3.5 {{ "IDEA_MANAGEMENT.LABEL.NEXT_STEP" | translate }} (<span
      style="color: red"
      >*</span
    >)
    </div>
    <textarea
      class="input-field"
      style="height: 60px; padding-top: 5px"
      rows="4"
      cols="50"
      [value]="nextStep"
      [(ngModel)]="nextStep"
      (input)="nextStepChange()"
      >{{ "" | translate }}</textarea
    >
    <div class="form-text text-danger" *ngIf="!nextStep">
      {{ "ADD-INSIDE-IDEA.VALIDATE.NEXT" | translate }}
    </div>
  </div>
  <div class="input-form">
    <div class="input-name">3.6 {{ "IDEA_MANAGEMENT.LABEL.NOTE" | translate }}</div>
    <textarea
      class="input-field"
      style="height: 60px; padding-top: 5px"
      rows="4"
      cols="50"
      [value]="note"
      [(ngModel)]="note"
      (input)="noteChange()"
      >{{ "" | translate }}</textarea
    >
  </div>
</div>
<div class="line"></div>
<div class="idea-form">
  <div class="header-text">
    4. {{ "IDEA_MANAGEMENT.LABEL.DOCUMENTS" | translate }}
  </div>

  <div class="file text-center">
    <div class="file-text">
      <p style="text-align: center" class="font-weight-bolder fs-075">
        {{ documentDTO?.name }}
      </p>
    </div>
    <div
      class="upload-file"
      (click)="selectAvatar.value = ''; selectAvatar.click()"
    >
      <img src="assets/img/icon/add file.svg" alt="ic_camera" />
      <div class="upload-label">
        {{ "IDEA_MANAGEMENT.BUTTON.CHOOSE_FILE" | translate }}
      </div>
    </div>
    <input
      type="file"
      (change)="onSelectFile($event)"
      style="display: none"
      #selectAvatar
    />
    <span class="fs-075"
      >{{ "IDEA_MANAGEMENT.LABEL.FILE_TYPE" | translate }}:
      <b class="fs-075">{{
        " .txt, .doc, .docx, .rar, .zip, .xls, .xlsx, .pdf, .jpg, .gif, .png, .ppt, .pptx."
          | translate
      }}</b>
    </span>
    <span class="fs-075"
      >{{ "IDEA_MANAGEMENT.LABEL.MAX_STORAGE" | translate }}:<b class="fs-075">{{ "25 MB" | translate }}</b></span
    >
  </div>
</div>
<div class="bottom-btn">
  <div (click)="duplicationCheck()" class="btn1">
    <img src="assets/img/icon/task check.svg" />
    <div class="btn1-text">
      {{ "IDEA_MANAGEMENT.BUTTON.DUPLICATION_CHECK" | translate }}
    </div>
  </div>
  <div (click)="deleteIdea()" class="btn2">
    <img src="assets/img/icon/trash.svg" />
    <div class="btn2-text">
      {{ "IDEA-DETAIL.EDIT.DELETE_IDEA_REGISTRATION" | translate }}
    </div>
  </div>
</div>
