.navbar.navbar-title {
  background: linear-gradient(180deg, #fb741c 0%, #e41818 100%);
  box-shadow: 0px 12px 14px rgba(0, 0, 0, 0.03);
  color: #ffffff;
}

.navbar-title {
  flex-wrap: nowrap;

  h5 {
    display: block;
    flex-grow: 1;
    overflow: hidden;
    padding-left: 0.1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .text-left,
  .faked-div {
    width: 2rem;
  }
}

.text-left {
  padding-left: 0%;
}

.history {
  color: #f6601b;
}

.filter {
  font-weight: 500;
  font-size: 14px;
  color: #3275e0;
}

.filter {
  text-transform: uppercase;
}

.apply {
  text-transform: uppercase;
  color: #f6601b;
}

.qrCode {
  font-size: 26px;
  width: 35px;
  text-align: center;
  height: 35px;
  border-radius: 50%;

  i {
    line-height: 30px;
  }
}

.logo-merchant {
  width: 63px;
  height: 63px;
}

.logo-collaborator {
  width: 46px;
  height: 46px;
}

.merchant-name {
  // //font-family: Montserrat;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;

  .merchant-upoint {
    .merchant-upoint-text {
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
    }

    .merchant-upoint-btn {
      width: 16px;
      height: 16px;
      border: none;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.3);
      font-size: 8px;
      text-align: center;
      line-height: 16px;
      margin-left: 8px;
    }
  }
}

.collaborator-card {
  box-shadow: 11px 17px 41px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  background: #ffffff;
  color: #273451;
  text-align: center;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px;
  position: relative;
  z-index: 9999;

  .col-name {
    // //font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }

  .col-des {
    // //font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #979797;
    text-align: center;
  }

  .col-upoint {
    // //font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }
}

.end-user-info {
  width: 100%;

  .col-name {
    // //font-family: Inter;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    letter-spacing: -0.165px;
    color: #ffffff;
  }

  .col-number {
    // //font-family: Inter;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    letter-spacing: -0.165px;
    color: #ffffff;
    margin-top: 10px;
  }

  .col-avatar {
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;

    .img-avatar {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      background-color: #dddddd;
    }
  }
}

.end-user-card {
  box-shadow: 11px 17px 41px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  background: #ffffff;
  color: #273451;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px;
  position: relative;
  z-index: 9999;

  .col-label {
    // //font-family: Inter;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.165px;
  }

  .col-value {
    // //font-family: Inter;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.165px;
  }
}

.flash {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.create {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 24px;
}

.route-text {
  line-height: 30px;
  text-align: center;
  font-size: 16px;
}

.title-cus {
  //font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

.long-cus {
  border-radius: 18px !important;
  padding: 5px 0;
  height: 36px;
  width: 36px;
}

.dropdown-toggle::after {
  display:none;
}

.text-align-center{
  text-align: center;
}

.cus{
  min-width: fit-content;

  .box-icon{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    i{
      font-size: 20px;
    }
  }
}
