<!-- <app-title-nav
  [title]="'ADD_AUTHOR_OUTSIDE_GROUP' | translate"
  [backRoute]="backRoute + '/edit'"
>
</app-title-nav> -->
<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0px;
  "
>
  <img src="../../../../../assets/img/icon/Line.png" alt="line" />
</div>
<nav
  style="
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 12px 0px;
  "
>
  <img
    width="24px"
    style="position: absolute; left: 16px;"
    src="../../../../../assets/img/icon/icon-back-2.png"
    alt="img"
    (click)="goBack()"
  />
  <span style="font-size: 16px; font-weight: 500;">
    {{ 'IDEA_NEW.ADD_OUTSIDE_AUTHOR' | translate }}
  </span>
</nav>
<div class="body">
  <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.FULL_NAME" | translate }}(<span style="color:red">*</span>)</div>
    <ng-select
    class="custom-class-aoe"
      [items]="DataService.listStaffOut | async"
      bindLabel="displayName"
      [placeholder]="'MANAGE_CATEGORY.PLACEHOLDER.FULL_NAME' | translate"
      [(ngModel)]="selectedFullName"
      (change)="onSelectedStaffCodeChange($event)"
      [addTag]="true"
      [addTagText]="'CHOOSE_AUTHOR_NAME' | translate"
      [required]="isInputTouched"
      autofocus
    ></ng-select>
    <div class="form-text text-danger" *ngIf="isInputTouched && !selectedStaffCodeSubject.value">{{ "ADD-INSIDE-IDEA.VALIDATE.NAME" | translate }}</div>

  </div>
  <!-- <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.WORK_PLACE" | translate }}</div>
    <input
      class="info-input"
      [placeholder]="
        (selectedStaffCodeSubject | async)?.jobAddress || 'MANAGE_CATEGORY.PLACEHOLDER.WORK_PLACE' | translate
      "
      [(ngModel)]="selectedJobAddress"
      (input)="changeJobAddress()"
    
    />

  </div> -->
  <!-- <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.OFFICE" | translate }}</div>
    <input
      class="info-input"
      [placeholder]="
        (selectedStaffCodeSubject | async)?.jobPosition || 'MANAGE_CATEGORY.PLACEHOLDER.POSITION'
          | translate
      "
      [(ngModel)]="selectedJobPosition"
      (input)="changeJobPosition()"
   
    />
  </div> -->
  <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.PHONE" | translate }}(<span style="color:red">*</span>)</div>
    <input
      class="info-input"
      [placeholder]="
        (selectedStaffCodeSubject | async)?.phoneNumber || 'MANAGE_CATEGORY.PLACEHOLDER.PHONE_NUMBER'
          | translate
      "
      [(ngModel)]="selectedPhoneNumber"
      maxlength="15"
      NumbersOnly
      (input)="changePhone()"
      [required]="phoneTouched"
    />
    <div
      class="form-text text-danger"
      *ngIf="msgPhoneError && msgPhoneError.length > 0"
    >
      {{ msgPhoneError }}
    </div>
  </div>
  <div class="info-box">
    <div class="info-title">{{ "CONTRIVANCE_MAMAGEMENT.LABEL.EMAIL" | translate }}</div>
    <input
      class="info-input"
      [placeholder]="
        (selectedStaffCodeSubject | async)?.email || 'MANAGE_CATEGORY.PLACEHOLDER.EMAIL' | translate
      "
      [(ngModel)]="selectedEmail"
      (input)="changeEmail()"
    
    />
    <div class="form-text text-danger" *ngIf="checkEmail && selectedEmail">{{ "ADD-INSIDE-IDEA.VALIDATE.EMAIL_FORM" | translate }}</div>
  </div>
  <!-- <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.QUALIFICATION" | translate }}</div>
    <input
      class="info-input"
      [placeholder]="
        (selectedStaffCodeSubject | async)?.professionalQualification ||
        'MANAGE_CATEGORY.PLACEHOLDER.QUALIFICATION' | translate
      "
      [(ngModel)]="selectedProfessionalQualification"
      (input)="changeQualification()"
      [required]="qualificationTouched"
    />
  </div> -->
  <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.CONTRIBUTE_PERCENT" | translate }}(<span style="color:red">*</span>)</div>
    <input
      class="info-input"
      type="text"
      NumbersOnly
      [placeholder]="'percentage' | translate"
      [(ngModel)]="selectedPercentage"
      (ngModelChange)="percentageValueChange($event)"
      maxlength="3"
      (input)="changePercentage()"
      [required]="percentageTouched"
    />
    <div class="form-text text-danger" *ngIf="percentageTouched && !selectedPercentage">{{ "ADD-INSIDE-IDEA.VALIDATE.PERCENT" | translate }}</div>
  </div>
</div>
<div class="bottom-box">
  <div (click)="add()" class="bottom-btn">
    <!-- <img src="assets/img/icon/plus.svg" /> -->
    <div class="btn-text">{{ "BUTTON.ADD_NEW" | translate }}</div>
  </div>
</div>
