<app-title-nav
  [title]="'ADD_AUTHOR_OUTSIDE_GROUP' | translate"
  [backRoute]="backRoute + '/edit'"
>
</app-title-nav>
<div class="body">
  <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.FULL_NAME" | translate }}(<span style="color:red">*</span>)</div>
    <ng-select
      [items]="listContributorOut"
      bindLabel="fullName"
      [placeholder]="'MANAGE_CATEGORY.PLACEHOLDER.FULL_NAME' | translate"
      [(ngModel)]="selectedFullName"
      (change)="onSelectedStaffCodeChange($event)"
      [addTag]="true"
      [addTagText]="'CHOOSE_AUTHOR_NAME' | translate"
    ></ng-select>
    <!-- <input class="info-input"
               [placeholder]="'Họ và tên' | translate"
               [(ngModel)]="selectedFullName"> -->
  </div>
  <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.WORK_PLACE" | translate }}(<span style="color:red">*</span>)</div>
    <input
      class="info-input"
      [placeholder]="
        (selectedStaffCodeSubject | async)?.jobAddress || 'MANAGE_CATEGORY.PLACEHOLDER.WORK_PLACE' | translate
      "
      [(ngModel)]="selectedJobAddress"
    />
  </div>
  <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.OFFICE" | translate }}(<span style="color:red">*</span>)</div>
    <input
      class="info-input"
      [placeholder]="
        (selectedStaffCodeSubject | async)?.jobPosition || 'MANAGE_CATEGORY.PLACEHOLDER.POSITION'
          | translate
      "
      [(ngModel)]="selectedJobPosition"
    />
  </div>
  <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.PHONE" | translate }}(<span style="color:red">*</span>)</div>
    <input
      class="info-input"
      [placeholder]="
        (selectedStaffCodeSubject | async)?.phoneNumber || 'MANAGE_CATEGORY.PLACEHOLDER.PHONE_NUMBER'
          | translate
      "
      [(ngModel)]="selectedPhoneNumber"
      maxlength="12"
      NumbersOnly
    />
  </div>
  <div class="info-box">
    <div class="info-title">{{ "CONTRIVANCE_MAMAGEMENT.LABEL.EMAIL" | translate }}(<span style="color:red">*</span>)</div>
    <input
      class="info-input"
      [placeholder]="
        (selectedStaffCodeSubject | async)?.email || 'MANAGE_CATEGORY.PLACEHOLDER.EMAIL' | translate
      "
      [(ngModel)]="selectedEmail"
    />
  </div>
  <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.QUALIFICATION" | translate }}</div>
    <input
      class="info-input"
      [placeholder]="
        (selectedStaffCodeSubject | async)?.professionalQualification ||
        'MANAGE_CATEGORY.PLACEHOLDER.QUALIFICATION' | translate
      "
      [(ngModel)]="selectedProfessionalQualification"
    />
  </div>
  <div class="info-box">
    <div class="info-title">{{ "IDEA_MANAGEMENT.LABEL.CONTRIBUTE_PERCENT" | translate }}(<span style="color:red">*</span>)</div>
    <input
      class="info-input"
      type="text"
      NumbersOnly
      [placeholder]="'percentage' | translate"
      [(ngModel)]="selectedPercentage"
      (ngModelChange)="percentageValueChange($event)"
      maxlength="3"
    />
  </div>
</div>
<div class="bottom-box">
  <div (click)="addNew()" class="bottom-btn">
    <img src="assets/img/icon/plus.svg" />
    <div class="btn-text">{{ "BUTTON.ADD_NEW" | translate }}</div>
  </div>
</div>
