.statusColor0 {
    color: #2E8AF6;
    background-color: rgba(38, 99, 255, 0.1);
    line-height: normal;
    text-align: center;
    font-weight: 600;
    font-size: 13px;
    border-radius: 10px;    
    padding: 2px 8px;
    max-width: fit-content;
}

.statusColor1 {
    color:#F6B241;   
    background-color:rgba(246, 178, 65, 0.1);
    line-height: normal;
    text-align: center;
    font-weight: 600;
    font-size: 13px;
    border-radius: 10px;    
    padding: 2px 8px;
    max-width: fit-content;
}

.statusColor2 {
    color:#3BC46A;
    background-color: rgba(59, 196, 106, 0.1);
    line-height: normal;
    text-align: center;
    font-weight: 600;
    font-size: 13px;
    border-radius: 10px;    
    padding: 2px 8px;
    max-width: fit-content;
}

.statusColor3 {
    color:  #E24B4B;
    background-color: rgba(226, 75, 75, 0.1);
    line-height: normal;
    text-align: center;
    font-weight: 600;
    font-size: 13px;
    border-radius: 10px;    
    padding: 2px 8px;
    max-width: fit-content;
}
